body {
    text-align: center;
    background-image: url("https://th.bing.com/th/id/OIP.b_rtyCChrOSnSHKlUv7hrQHaFj?pid=ImgDet&rs=1");
    background-size:cover;
}

button {
    background-color: #4CAF50;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }




.upgrades {
    background-color: #006600;
}

.upgradeDesc {
    font-size: 12px;
}

.progress-grey {
    background-color: #9e9e9e;
    width:250px;
    margin:0 auto;
}

.progress-green {
    background-color: #4CAF50;
}





#showVar {
    position: relative;
    text-align: center;
    border-radius: 12px;
    font-size: 30px;
    line-height: 30px;
    padding-top: 10px;
    color:white;
    margin: 0 auto;
    background-color: darkorchid;
    height: 175px;
    width: 300px;
}

#PpSCount {
    font-size: 18px;
}

#counts {
    background-color: #4CAF50;
    color:white;
    font-size: 20px;
    margin-left: 89%;
    margin-top: 0%;
    position:fixed;
    width: calc(10%);
    height: 500px;
    content: '';
}